.district_overview {
	display: block;
	width: auto;
	height: 500px;
	/*background-color:rgba(205,249,236,0.3);*/
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-image:url(../images/w1.png);
}
.overview {
	display:block;
	background-color:rgba(250,250,250,0.5);
	margin:0px 200px;
}
.district {
	display: block;
	margin:10px 0px;
}

.air_details {
	display: block;
	margin: 0px 0px;
	padding-top: 20px;
	height: 180px;
}
.choose_district {
    display: inline-block;
}
.choose {
    background-color: cadetblue;
    color: white;
	width:inherit;
	height: inherit;
    font-size: 45px;
    border: none;
    cursor: pointer;
	margin-left:20px;
}
.thisdistrict {
	display: inline-block;
	text-align: center;
	font-size: 25px;
	color: #628d58;
	margin: 10px 50px;
}
.districts {
    display: none;
    position:absolute;
	float: left;
    background-color: #F7F5F5;
    max-width: 240px;
}
.districts a {
    color: black;
    padding: 0px 10px;
	width: 60px;
    text-decoration: none;
    display: block;
	float:left;
}
.districts a:hover {background-color: rgba(255,255,255,1);}
.choose_district:hover .districts {
    display: block;
}
.choose_district:hover .choose {
    background-color: #0B7664;
}
.notes {
	display: inline-block;
	margin-top: 18px;
	margin-left: 100px;
	text-align: left;
	color:gray;
}
.hr {
	align-content: center;
	margin: 0px 0px;
}
/*各项指标数值*/
.air_details {
	display: block;
	margin-top: 20px;
}
.aqi,.pm25,.pm10,.co,.o3,.no2,.so2{
	float:left; 
	display:inline-block; 
	position:relativ; 
	text-align:center; 
	width: 100px;
	height: 100px;
	margin: 0px 15px;
	border-radius: 100%; 
	/*border:dashed;
	border-color:rgba(163,239,170,0.9);*/
	background-color:#9DDFE0;
	opacity: 0.5;
}
.num {
	line-height: 100px;
	color:black; 
	font-size:30px;
}
.name{
	font-size:24px; 
	display: black;
	margin-top: 10px;
	margin-left: 30px;
	color:black;
	position:absolute; 
}
.content {
	display: block;
	text-align: left;
	font-size: 18px;
	color: black;
	margin-left:50px;
	padding-bottom:150px;
}
/*明日预测*/
.predit{
	display:block;
	width: 980px;
	height: auto;
	margin: 20px;
	background-color:beige;
	border-color: gray;
	border-radius: 2%;
}
.predit_title {
	text-align: center;
	font-size: 30px;
	padding:30px 0px;
}
.predit_content {
	display: block;
}
.grade {
	display: inline-block;
	float:left;
	width: 100px;
	height: 100px;
	margin: 50px;
	margin-left: 150px;
	border-radius: 100%;
	background-color: rgba(21,160,24,0.65);
}
.grade p {
	color:gray;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}
.predit_notes {
	display: inline-block;
	margin-top: 10px;
	padding-left:100px;
	text-align: left;
	color:gray;
	font-size: 20px;
}
.grade_img {
	width:500px;
	margin: 10px 100px;
}
.tips {
	display: inline-block;
	margin-top: 10px;
	margin-left: 150px;
	padding-bottom:50px;
	text-align: left;
	color:gray;
	font-size: 20px;
}

.choose_item {
	display:inline-block;
	overflow:hidden;
	padding-left:20px;
}
.choose_item li {
	display:block;
	width:200px;
	height: 53px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}
#i1{background-image: url(../images/w1.png);background-size:100% 100%;}
#i2{background-image: url(../images/w2.png);background-size:100% 100%;}
#i3{background-image: url(../images/w3.png);background-size:100% 100%;}
#i4{background-image: url(../images/b3.png);background-size:100% 100%;}
#i5{background-image: url(../images/b2.png);background-size:100% 100%;}
#i6{background-image: url(../images/b1.png);background-size:100% 100%;}
.items {
	display: inline-block;
}
.item{
	width: 750px;
	background-image: url(../images/w1.png);background-size:100% 100%;
}
.items td {
	text-align: center;
	vertical-align:middle;
	padding:5px 30px;
}